<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body>


<h1>ACCENTURE</h1>
<p>Accenture plc is an Irish multinational company selling consulting and processing services. A Fortune Global 500 company,[4] it reported revenues of $44.33 billion in 2020 and had 537,000 employees. In 2015, the company had about 150,000 employees in India,[5] 48,000 in the US,[6] and 50,000 in the Philippines.[7] Accenture's current clients include 91 of the Fortune Global 100 and more than three-quarters of the Fortune Global 500.[8]

On 11 July 2019, Accenture appointed Julie Sweet as its new chief executive officer. She accepted her office on 1 September 2019.[9]

It has been incorporated in Dublin, Ireland since 2009.</p>

<script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>