<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>

</head>

<body>


  <div class="container-fluid mt-5 about-style" id="blogs id">
    <div class="row">

      <div class="col-md-10 col-12 mx-auto">

        <h1 class="text-center main-heading">Available for your help!</h1>




        <div class="row">

          <div class="col-md-0 col-14 hero text">

          </div>


          <div class="card" style="width: 18rem;">
            <img src="images.png" class="card-img-top" alt="...">
            <div class="card-body">


            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/taranjeet-singh-41bb491a6" class="card-link">Linked In</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="download.png" class="card-img-top" alt=" ">
            <div class="card-body">

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://wa.me/qr/4UXKQNRHUPLFI1" class="card-link">Whatsapp</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="images (1).png" class="card-img-top" alt="...">
            <div class="card-body">

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://www.facebook.com/profile.php?id=100008593577077" class="card-link">Fcebook</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="images.png" class="card-img-top" alt="...">
            <div class="card-body">

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/taranjeet-singh-41bb491a6" class="card-link">Linked In</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="download.png" class="card-img-top" alt=" ">
            <div class="card-body">

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://wa.me/qr/4UXKQNRHUPLFI1" class="card-link">Whatsapp</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="images (1).png" class="card-img-top" alt="...">
            <div class="card-body">

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://www.facebook.com/profile.php?id=100008593577077" class="card-link">Fcebook</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="images.png" class="card-img-top" alt="...">
            <div class="card-body">

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">NAME</li>
              <li class="list-group-item">BRANCH & YEAR</li>
              <li class="list-group-item">Skills</li>
            </ul>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/taranjeet-singh-41bb491a6" class="card-link">Linked In</a>
              <a href="#" class="card-link">study material</a>
            </div>
          </div>

        </div>
      </div>




      <script src="../jq/jquery.js" type="text/javascript"></script>
      <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>

</html>