<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>SOLP</title><link rel="icon" src="solp2.png">

</head>
<body>

<div class="container-fluid mt-5 about-style" id="email_sent id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

         
          
          
          

          <div class="col">

             <div class="col-md-0 col-14 hero text">

            </div>
            <img src="X0Yi.gif" alt=" ">
<H2 class="email">
    We will send you an email within 24hrs !!
</H2>

<a href="/login"><button type="submit" class="btn-style btn-primary">Login Now</button></a>

<script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>