<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body>

   {{>navbar}}

{{! hero section start}}

   <div class="container-fluid mt-5 about-style" id="about id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <div class="row">

            

            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                 <h1> SHOW CASE YOUR SKILLS</h1>
                 <h1> BETTER LEARNING</h1>
                 <p> "Created for Genconians , Developed by Genconians"</p>
                 
            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              
                
                
                <img src="13655_GNDEC_APP.jpg" alt="GNDEC">
              

            </div>

          </div>

        </div>

      </div>

   </div>

   {{! hero section ends}}

   {{! About us start}}

   {{>about}}

   {{! about us ends}}

   {{! SERVICES start}}

   {{>services}}

   {{! SERVICES ends}}

    {{! outcomes start}}

   {{>outcomes}}

   {{! outcomes ends}}

   
   {{! MAP start}}

   {{>map}}

   {{! MAP ends}}

    
   

 

   

    <script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>