<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>SOLP</title><link rel="icon" src="solp2.png">

</head>
<body>
<div class="container-fluid mt-5 about-style" id="infosys id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          
          
          

          <div class="row">

             <div class="col-md-0 col-14 hero text">

            </div>

<h1 class="text-center main-heading">INFOSYS</h1>
<p class="about__para">Infosys Limited is an Indian multinational information technology company that provides business consulting, information technology and outsourcing services. The company is headquartered in Bangalore.[6] Infosys is the second-largest Indian IT company after Tata Consultancy Services by 2020 revenue figures and the 602nd largest public company in the world according to Forbes Global 2000 ranking.[7] On 31 December 2020, its market capitalisation was $71.92 billion.[8] The credit rating of the company is A− (rating by Standard & Poor's).[9]</p>

<script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>