<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>

</head>

<body>
  <h1 class="text-center main-heading">Youtube Channels</h1>
<div class="row">
<div class="app_register_container">
      <img src="unnamed (2).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Education 4u</li>
              
            </ul>
             <a href="https://www.youtube.com/channel/UCKS34cSMNaXaySe2xgXH-3A" target="_blank" class="card-link">Channel link</a>
    </div>

<div class="app_register_container">
      <img src="unnamed (3).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Gate Smashers</li>
              
            </ul>
             <a href="https://www.youtube.com/channel/UCJihyK0A38SZ6SdJirEdIOw" target="_blank" class="card-link">Channel link</a>
    </div>
    <div class="app_register_container">
      <img src="unnamed (4).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Neso Academy</li>
              
            </ul>
             <a href="https://www.youtube.com/user/nesoacademy" target="_blank" class="card-link">Channel link</a>
    </div>

    <div class="app_register_container">
      <img src="unnamed (5).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">easytuts4you</li>
              
            </ul>
             <a href="https://www.youtube.com/channel/UCNzo21QIvEWkB2UIXdRBL6A" target="_blank" class="card-link">Channel link</a>
    </div>

    <div class="app_register_container">
      <img src="unnamed (6).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">GeeksforGeeks</li>
              
            </ul>
             <a href="https://www.youtube.com/channel/UC0RhatS1pyxInC00YKjjBqQ" target="_blank" class="card-link">Channel link</a>
    </div>

    <div class="app_register_container">
      <img src="unnamed (7).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Dr.Gajendra Purohit</li>
              
            </ul>
             <a href="https://www.youtube.com/channel/UCKS34cSMNaXaySe2xgXH-3A" target="_blank" class="card-link">Channel link</a>
    </div>

    <div class="app_register_container">
      <img src="unnamed (8).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">MySirG.com</li>
              
            </ul>
             <a href="https://www.youtube.com/channel/UCkGS_3D0HEzfflFnG0bD24A" target="_blank" class="card-link">Channel link</a>
    </div>

</div>
<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>

</html>