<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>SOLP</title>

</head>

<body>
  <h1 class="youtube">YouTube Channels</h1>


<div class="row" style="text-align: center;">
<div class="app_register_container">
      <img src="unnamed (9).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">CodeWithHarry </li>
              <li class="list-group-item">Programming</li>
              
            </ul>
             <a href="https://www.youtube.com/c/CodeWithHarry" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (4).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Neso Academy</li>
              <li class="list-group-item">Programming</li>
            </ul>
             <a href="https://www.youtube.com/user/nesoacademy" target="_blank" class="card-link">Channel link</a>
    </div>
   
<div class="app_register_container">
      <img src="unnamed (10).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">MySirG.com</li>
              <li class="list-group-item">Programming</li>
            </ul>
             <a href="https://www.youtube.com/user/saurabhexponent1" target="_blank" class="card-link">Channel link</a>
    </div>
    

    

<div class="app_register_container">
      <img src="unnamed (11).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Technical Physics</li>
              <li class="list-group-item">Physics</li>
              
            </ul>
             <a href="https://www.youtube.com/c/TechnicalPhysics" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (12).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Last moment tuitions</li>
              <li class="list-group-item">Physics</li>
              
            </ul>
             <a href="https://www.youtube.com/c/Lastmomenttuitions" target="_blank" class="card-link">Channel link</a>
    </div>
  
<div class="app_register_container">
      <img src="unnamed (13).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Dr.Gajendra Purohit</li>
              <li class="list-group-item">Maths</li>
            </ul>
             <a href="https://www.youtube.com/c/DrGajendraPurohitMathematics" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (14).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">TIKLE'S ACADEMY</li>
               <li class="list-group-item">Engineering Drawing</li>
            </ul>
             <a href="https://www.youtube.com/c/TIKLESACADEMY" target="_blank" class="card-link">Channel link</a>
              
    </div>
   
{{!-- <div class="app_register_container">
      <img src="unnamed (15).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">ALL ABOUT ELECTRONICS </li>
              <li class="list-group-item">Electronis</li>
            </ul>
             <a href="https://www.youtube.com/c/ALLABOUTELECTRONICS" target="_blank" class="card-link">Channel link</a>
    </div> --}}
    
<div class="app_register_container">
      <img src="unnamed (16).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Tech Gurukul</li>
               <li class="list-group-item">Electronics</li>
            </ul>
             <a href="https://www.youtube.com/c/TechGurukul" target="_blank" class="card-link">Channel link</a>
              
    </div>
    
<div class="app_register_container">
      <img src="unnamed (12).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Last moment tuitions</li>
              <li class="list-group-item">Electrical</li>
              
            </ul>
             <a href="https://www.youtube.com/c/Lastmomenttuitions" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (4).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Neso Academy</li>
              <li class="list-group-item">Electrical</li>
            </ul>
             <a href="https://www.youtube.com/user/nesoacademy" target="_blank" class="card-link">Channel link</a>
    </div>
    <div class="app_register_container">
      <img src="channels4_profile.jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">GATE ACADEMY PLUS</li>
              <li class="list-group-item">Electrical</li>
            </ul>
             <a href="https://www.youtube.com/channel/UCZ9_mhxSMyVtfPZOkb1PgTA" target="_blank" class="card-link">Channel link</a>
    </div>
     <div class="app_register_container">
      <img src="unnamed (24).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Electrical Engineering</li>
              <li class="list-group-item">Electrical</li>
            </ul>
             <a href="https://www.youtube.com/channel/UCTJn6buigC961hns17ELXAQ" target="_blank" class="card-link">Channel link</a>
    </div>
<div class="app_register_container">
      <img src="unnamed (17).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Manas Patnaik </li>
              <li class="list-group-item">Mechanical</li>
              
            </ul>
             <a href="https://www.youtube.com/c/ManasPatnaikmech" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (18).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">MKS TUTORIALS by Manoj Sir</li>
              <li class="list-group-item">Mechanical</li>
            </ul>
             <a href="https://www.youtube.com/c/MKSTUTORIALSbyManojSir" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (19).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Ever Exam </li>
              <li class="list-group-item">Civil</li>
              
            </ul>
             <a href="https://www.youtube.com/c/EverExam" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (20).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Techपुर By Examपुर</li>
              <li class="list-group-item">Civil</li>
            </ul>
             <a href="https://www.youtube.com/channel/UCWiIKZY0CyIiUcUPLS7sMXw" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (21).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Chemical Engineering Guy</li>
              <li class="list-group-item">Chemical</li>
              
            </ul>
             <a href="https://www.youtube.com/c/Chemicalengineeringguy" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (22).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Chemical Engineering</li>
              <li class="list-group-item">Chemical</li>
            </ul>
             <a href="https://www.youtube.com/channel/UCqqc1GmsuANsx3s3Y0C-BsQ" target="_blank" class="card-link">Channel link</a>
    </div>
    
<div class="app_register_container">
      <img src="unnamed (23).jpg" alt="">
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Shomu's Biology </li>
              <li class="list-group-item">Biotechnology</li>
              
            </ul>
             <a href="https://www.youtube.com/c/SumanBhattacharjeeShomusBiologyOnline" target="_blank" class="card-link">Channel link</a>
    </div>
    </div>
<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>

</html>