<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body>



<div class="container-fluid mt-5 about-style" id="notes id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">Study material</h1>
          
          
          

          <div class="row">

          

            </div>
          {{! right side}}
            
           <div class="row"> 
                 <!DOCTYPE html>
<html>
  <head>
    <title>NOTES</title>
  </head>
  <body>
    <center>
      <h1>Lab files</h1>
      <p>
        <button>
          DAA LAB File!
        </button>
      </p>
      <a href="DAA file.pdf" target="_taran">  download now</a>

      <p>
        <button>
          DBMS LAB File!
        </button>
      </p>
      <a href="DBMS LAB.pdf" target="_taran"> download now</a>

      <p>
        <button>
          AI LAB File!
        </button>
      </p>
      <a href="1805996 AI LAB.pdf" target="_taran"> download now</a>

      


      <h1>ADBMS NOTES</h1>
      <p>
        <button>
          Concurrency Control!
        </button>
      </p>
      <a href="Concurrency Control.pdf" target="_taran">  download now</a>

      <p>
        <button>
          cs322_PL_SQL!
        </button>
      </p>
      <a href="cs322_PL_SQL.pdf" target="_taran"> download now</a>

      <p>
        <button>
          CS322_PL_SQL_Triggers!
        </button>
      </p>
      <a href="CS322_PL_SQL_Triggers.pdf" target="_taran"> download now</a>

      <p>
        <button>
          Embedded SQL, DynamicSQL!
        </button>
      </p>
      <a href="Embedded SQL, DynamicSQL.pdf" target="_taran"> download now</a>

      <p>
        <button>
          Strings, Arrays ,Procedures!
        </button>
      </p>
      <a href="Strings, Arrays ,Procedures.pdf" target="_taran"> download now</a>

      <p>
        <button>
          Transaction Management!
        </button>
      </p>
      <a href="Transaction Management.pdf" target="_taran"> download now</a>



      <h1>Compiler Design NOTES</h1>
      <p>
        <button>
          Compiler_Design_www.questionpapershub.com!
        </button>
      </p>
      <a href="Compiler_Design_www.questionpapershub.com.pdf" target="_taran">download now</a>

      <p>
        <button>
          Graphics Primitives!
        </button>
      </p>
      <a href="Graphics Primitives.pdf" target="_taran"> download now</a>

      <p>
        <button>
          PCD UNIT I 16 MARK!
        </button>
      </p>
      <a href="PCD UNIT I 16 MARK.pdf" target="_taran">download now</a>

      <p>
        <button>
          Phases of compiler!
        </button>
      </p>
      <a href="Phases of compiler.pdf" target="_taran"> download now</a>


      <h1>Machine Learning NOTES</h1>
      <p>
        <button>
          ANN_Back_Propagation_Delta Rule!
        </button>
      </p>
      <a href="ANN_Back_Propagation_Delta Rule.pdf" target="_taran"> download now</a>

      <p>
        <button>
          ANN_Derivation_Back_Propagation!
        </button>
      </p>
      <a href="ANN_Derivation_Back_Propagation.pdf" target="_taran"> download now</a>

      <p>
        <button>
          ANN_Explaination!
        </button>
      </p>
      <a href="ANN_Explaination.pdf" target="_taran"> download now</a>

      <p>
        <button>
          Artificial Neural Networks!
        </button>
      </p>
      <a href="Artificial Neural Networks.pdf" target="_taran"> download now</a>

      <p>
        <button>
          matrix factorization and completion!
        </button>
      </p>
      <a href="matrix factorization and completion.pdf" target="_taran">download now</a>

      <p>
        <button>
          Neural networks!
        </button>
      </p>
      <a href="Neural networks.pdf" target="_taran"> download now</a>

      <p>
        <button>
          Neuro-computing  introduction!
        </button>
      </p>
      <a href="Neuro-computing  introduction.pdf" target="_taran">  download now</a>

      <p>
        <button>
          Outline!
        </button>
      </p>
      <a href="Outline.pdf" target="_taran">  download now</a>


      

      <h1>Human Engineering NOTES</h1>
      <p>
        <button>
          Anthropometry!
        </button>
      </p>
      <a href="Anthropometry.docx" target="_taran"> download now</a>

      <p>
        <button>
          Muscular Work & Nervous Control of Movements!
        </button>
      </p>
      <a href="Muscular Work & Nervous Control of Movements.docx" target="_taran">  download now</a>

      <p>
        <button>
          Systems of the human body!
        </button>
      </p>
      <a href="Systems of the human body.pdf" target="_taran">  download now</a>

     

      <h1>Git Cheat Sheet</h1>
      <p>
        <button>
          git-cheat-sheet-education!
        </button>
      </p>
      <a href="git-cheat-sheet-education.pdf" target="_taran">  download now</a>



      

      <h1>
        CHANNEL
    </h1>
    <br>
    <a href="https://www.youtube.com/channel/UCKS34cSMNaXaySe2xgXH-3A" target="_blank"> Education 4u</a>
    <br>
    <a href="https://www.youtube.com/channel/UCJihyK0A38SZ6SdJirEdIOw" target="_blank"> Gate Smashers</a>
     <br>
    <a href="https://www.youtube.com/user/nesoacademy" target="_blank"> Neso Academy</a>
     <br>
    <a href="https://www.youtube.com/user/easytuts4youcom" target="_blank"> easytuts4you</a>



    


    </center>
  </body>
</html>
                 
         </div>           
           

          </div>

        </div>

      </div>

   </div>


   <script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>