<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>SOLP</title><link rel="icon" src="solp2.png">

</head>

<body>


<div class="navbar index-page">
       <div class="app__nav__container" >
          <a  class="rgisterText" href="/contact">Contact</a>
          <a class="app__headerTitle" href="/">Logout</a>
       </div>
  </div>
  <div class="userService">
    <div class="row">

    <div {{!-- onclick="window.open('https://gne-notes.web.app/')" --}} class="app_register_container">
    <a href="https://gne-notes.web.app/" target="_blank"><img src='notebook-logo.png' style="width:'200px';object-fit:'contain';margin:'auto';" /></a>
      {{!-- <img src='notebook-logo.png' style="width:'200px';object-fit:'contain';margin:'auto';" /> --}}
      <h1 style="text-align: center;">Notes App</h1>
     {{!--  <p>Notes App will provide a platform to students from where they can easily access the study
        materials of their corresponding course and request a hard copy of same. </p> --}}
    </div>

    
     <div class="app_register_container">
     <a href="/more" ><img src='de1c91788be0d791135736995109272a.png' style="width:'200px';object-fit:'contain';margin:'auto';" /></a>
      <h1>YouTube Channels</h1>
      {{!-- <p>We have shortlisted some of youtube channels which will provide very good content.
         Students can visit these channels according to their branch.</p> --}}
    </div>
</div>



    {{!-- <div class="notes__footer">
      <div class="app__header">
        
      </div>
      <div class="navbar index-page">
        <div class="loginSingnUpContainer">
         <a class="YTText" href="/more"  <h1 id="logo" >For YouTube Channels click the text</h1></a>
          {{!-- <a class="YTText" href="https://www.youtube.com/channel/UCKS34cSMNaXaySe2xgXH-3A" target="_blank">Education 4u</a>
          <a class="YTText" href="https://www.youtube.com/channel/UCJihyK0A38SZ6SdJirEdIOw" target="_blank"> Gate Smashers</a>
          <a class="YTText" href="https://www.youtube.com/user/nesoacademy" target="_blank"> Neso Academy</a>
          <a class="YTText" href="https://www.youtube.com/user/easytuts4youcom" target="_blank"> easytuts4you</a> --}}
          {{!-- <a class="YTText" href="/more" <button type="submit"  class="btn-style btn-primary register_form_button">Tap</button></a> --}}
          {{!-- <button type="submit"  class="btn-style btn-primary register_form_button">submit</button> --}}
        </div>
      </div>
    </div>
  </div> --}}

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>

</html>