<div class="container-fluid mt-5 about-style" id="notes id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">Study material</h1>
          
          
          

          <div class="row">

             <div class="col-md-6 col-12 hero text">

            </div>
          {{! right side}}
            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                 <img src="note-taking-1400x1050.png" alt="">
                 <!DOCTYPE html>
<html>
  <head>
    <title>NOTES</title>
  </head>
  <body>
    <center>
      <p>
        <button>
          click to download DAA LAB File!
        </button>
      </p>
      <a href="DAA file.pdf" target="_taran">  download pdf now</a>

      <p>
        <button>
          click to download DBMS LAB File!
        </button>
      </p>
      <a href="DBMS LAB.pdf" target="_taran">  download pdf now</a>

      <p>
        <button>
          click to download AI LAB File!
        </button>
      </p>
      <a href="1805996 AI LAB.pdf" target="_taran">  download pdf now</a>

      <p>
        <button>
          click to DBMS Minor project query file File!
        </button>
      </p>
      <a href="Minor project Queries.pdf" target="_taran">  download pdf now</a>


    </center>
  </body>
</html>
                 
                 
           

          </div>

        </div>

      </div>

   </div>