<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>

</head>

<body>

<div class="app__nav">
       <div class="app__nav__container" >
          <a class="app_nav_link" href="/" >Home</a>
          
          <a class="app_nav_link" href="/contact">Contact</a>
       </div>
  </div>
  <div class="userService" class="container-fluid mt-5 about-style">


    <h1 id='logo'>Some of our well placed graduates!</h1>


    <div class="userService__cards">
      <div class="card" style="width: 18rem;">
        {{!-- <img src="160-1609730_smile-clipart-bid-software-engineer-internship-sri-lanka.png" class="card-img-top"
          alt=" "> --}}
          <img src="unnamed.jpg" class="card-img-top" alt=" ">
        <div class="card-body">
          <h3 class="card-title">Name</h3>
          <h3 class="card-title">(Post)</h3>
          <p class="card-text">
            <Bio-Data></Bio-Data>
          </p>
          <a href="/infosys" class="btn btn-primary">About INFOSYS</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="unnamed.jpg" class="card-img-top" alt=" ">
        <div class="card-body">
          <h3 class="card-title">Name</h3>
          <h3 class="card-title">(Post)</h3>
          <p class="card-text">
            <Bio-Data></Bio-Data>
          </p>
          <a href="/wipro" class="btn btn-primary">About WIPRO</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        {{!-- <img src="556-5569981_data-clipart-administrator-system-administrator-clipart-hd-png.png" class="card-img-top"
          alt=" "> --}}
          <img src="unnamed.jpg" class="card-img-top" alt=" ">
        <div class="card-body">
          <h3 class="card-title">Name</h3>
          <h3 class="card-title">(Post)</h3>
          <p class="card-text">
            <Bio-Data></Bio-Data>
          </p>
          <a href="/accenture" class="btn btn-primary">About ACCENTURE</a>
        </div>
      </div>
    </div>







    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>

</html>