<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body>



<div class="container-fluid mt-5 about-style" id="user_service id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">SERVICES</h1>
          
          

          <div class="row">

             <div class="col-md-6 col-12 hero text">

            </div>
          {{! right side}}
            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                 
                <a href="/notes" > <button type="submit" class="btn-style btn-primary">NOTES</button></a>
                <a href="/lectures" ><button type="submit" class="btn-style btn-primary" id="lectures id">LECTURES</button></a> 
                <a href="/blogs" ><button type="submit" class="btn-style btn-primary" id="blogs id">BLOGS</button></a> 
                 
                 
           

          </div>

        </div>

      </div>

   </div>


   <script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>