<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>

</head>

<body>

<div class="navbar index-page">
       <div class="app__nav__container" >
          {{!-- <a class="app_nav_link" href="/" >Home</a>
          <a class="app_nav_link" href="/about id">About</a>
          <a class="app_nav_link" href="/services id">services</a>
          <a class="app_nav_link" href="/register">Register</a>
          <a class="app_nav_link" href="/login">Login</a> --}}
          <a  class="rgisterText" href="/contact">Contact</a>
          <a class="app__headerTitle" href="/">Logout</a>
       </div>
  </div>

    <div class="userService" id="user_service id">
    <h1 id="logo" class="">Available for your help!</h1>

 <div class="userService__cards">
   <div class="app_register_container">
      <div class="card" style="width: 18rem;">
        <img src="notebook-logo.png" class="card-img-top" alt=" ">
        <div class="card-body">
          <h3 class="card-title">NOTES / Videos</h3>
          <p class="card-text">It consist of the well organised content required for academic needs of a student.</p>
          <a href="/notes" class="btn btn-primary">Click Here!</a>
        </div>
      </div>
</div>
<div class="app_register_container">
      <div class="card" style="width: 18rem;">
        <img src="image_processing20200813-32627-hrt73n.png" class="card-img-top" alt=" ">
        <div class="card-body">
          <h3 class="card-title">Supporters</h3>
          <p class="card-text">Here one can find some skilful students which can help and guide others in their specific
            field.</p>
          <a href="/blogs" class="btn btn-primary">Click Here!</a>
        </div>
      </div>
</div>
<div class="app_register_container">
      <div class="card" style="width: 18rem;">
        <img src="unnamed (1).jpg" class="card-img-top" alt=" ">
        <div class="card-body">
          <h3 class="card-title">Helpful Tips</h3>
          <p class="card-text">It consist of all well-placed engineers, here they mentioned some guidance and tips.</p>
          <a href="/suggestions" class="btn btn-primary">Click Here!</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 
     
    </div>
  </div>

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>

</html>