<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body>



<div class="container-fluid mt-5 about-style" id="user_service id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">What can we provide you ?</h1>
          
          

          <div class="row">

             <div class="col-md-3 col-12 hero text">

            </div>
          {{! right side}}
            

              <div class="card" style="width: 18rem;">
  <img src="20-201537_notes-clipart-posted-note-post-its-icon-png.png" class="card-img-top" alt=" ">
  <div class="card-body">
    <h4 class="card-title">NOTES / LECTURES</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/notes" class="btn btn-primary">Click Here!</a>
  </div>
</div>
                 <div class="col-md-6 col-12 hero text">

                 <div class="card" style="width: 18rem;">
  <img src="20-201537_notes-clipart-posted-note-post-its-icon-png.png" class="card-img-top" alt=" ">
  <div class="card-body">
    <h3 class="card-title">Supporters</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/blogs" class="btn btn-primary">Click Here!</a>
  </div>
</div>
                
                </div>
                 
                 
           

          </div>

        </div>

      </div>

   </div>


   <script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>