<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>SOLP</title>

</head>
<body>

<div class="container-fluid mt-5 about-style" id="wipro id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

         
          
          
          

          <div class="row">

             <div class="col-md-0 col-14 hero text">

            </div>
<h1 class="text-center main-heading">WIPRO</h1>
<p class="about__para">Wipro Limited is an Indian multinational corporation that provides information technology, consulting and business process services. It is headquartered in Bangalore, Karnataka, India.[5] In 2013, Wipro separated its non-IT businesses and formed the privately owned Wipro Enterprises.[6] Wipro has shifted to Work from Anywhere model since March 2020 so employees can work from anywhere in the world except Wipro office premises due to COVID pandemic.</p>

<script src="../jq/jquery.js" type="text/javascript"></script>
     <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>