<div class="container-fluid mt-5 about-style" id="about id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">ABOUT US</h1>
          <p class="text-center sub-heading">(LEARNING)</p>
          <p>The use of STUDENTS OUTSOURCING LEARNING
PLATFORM is exchange of information among college students of
different batches (i.e. juniors and seniors). This platform will help the
juniors to interact with seniors for any type of help.We are going to
create a interactive platform for exchange of useful information like
notes, knowledge, interactive lectures, experience and suggestions.
          </p>

          <div class="row">

             <div class="col-md-6 col-12 hreo text">

           

              <figure>
                <img src="gndec-recruitment.png" alt="GNDEC">
              

              </figure>

            </div>
          {{! right side}}
            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                 <h1>JOIN US AND HELP SOMEONE</h1>
                 
                 <button class="btn-style btn-primary">READ MORE</button>
                 
           

          </div>

        </div>

      </div>

   </div>