<div class="container-fluid mt-5 about-style" id="about id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">ABOUT US</h1>
          <p class="text-center sub-heading">(LEARNING)</p>
          <p>Student Outsourcing Learning Platform is all about providing a common platform for all the genconians to get 
fulfilled of all their academic needs, We tried to give a common platform to all our peers to interact with each
other in the comfort of your home. On this platform, you can exchange notes and ask for lectures from any genconian
who has a good hand over that particular subject. This platform could also help you with financial support,
If you are good at something like programming, data structure, Auto CAD, or conceptual skills then you can get paid
by the peers who are in need of help in your area for specialization, you can also help them voluntarily depending
on your needs, you will also get some experience by working with them, in the end, we get something to learn from
everyone If you are new to this institution then you can interact with your seniors and kickstart your learning
period of your life with the right direction from your seniors, you can avoid making those mistakes that your 
seniors have done by interacting with them. Not only for juniors, but this platform is also very helpful for seniors
as well, some of us might need some help regarding the subjects that we might have studied in our previous semesters, 
like when we start preparing for GATE exams or any other competitive exams.
And Also, you can get some very helpful suggestions from our alumni or pass out students who are already working in the corporate world, to keep us updated with the current market needs. So that we can learn new skills to cope up with this fast-growing world.
          </p>

          <div class="row">

             <div class="col-md-6 col-12 hreo text">

           

              

            </div>
          {{! right side}}
            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                 
                 
           

          </div>

        </div>

      </div>

   </div>