<html>
    <head>
        <title>POSTS</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <header>
            <a href="/"><i class="fas fa-home" aria-hidden="true"></i></a>
            <a href="search.html"> <i class="fas fa-search" aria-hidden="true"></i> </a>
            <a href="likes.html"><i class="fas fa-heart" aria-hidden="true"></i></a>
            <a href="profile.html"><i class="fas fa-user" aria-hidden="true"></i></i></a>
        </header>
    </body>
</html>