<div id="lectures id">
<p class="text-center sub-heading">(check your lectures!!)</p>
</div>

<!DOCTYPE html>
<html>
  <head>
    <title>NOTES</title>
  </head>
  <body>
    <h1>
        CHANNEL
    </h1>
    <a href="https://www.youtube.com/channel/UCKS34cSMNaXaySe2xgXH-3A" target="_blank"> Education 4u</a>
    <br>
    <a href="https://www.youtube.com/channel/UCJihyK0A38SZ6SdJirEdIOw" target="_blank"> Gate Smashers</a>
     <br>
    <a href="https://www.youtube.com/user/nesoacademy" target="_blank"> Neso Academy</a>
     <br>
    <a href="https://www.youtube.com/user/easytuts4youcom" target="_blank"> easytuts4you</a>
  </body>
</html>