<form>
    Choose a Profile Picture:<br>
    <select id="profilePictureType" onchange="onSelectChange()">

        <option value="1">Upload an Image</option>
        <option value="2">Load from URL</option>

    </select><br>

    <input type="file" id="fileBrowse" accept="image/*"><br>
    <input type="url" id="enterUrl" placeholder="Enter in a URL." disabled="disabled">

</form>