<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.9278353122977!2d75.8573778142599!3d30.860695381592787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a828f09011b15%3A0xbf3f5b51dcc81b12!2sGuru%20Nanak%20Dev%20Engineering%20College!5e0!3m2!1sen!2sin!4v1616742169752!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>">

</section>

