



<div class="navbar index-page">
  <div class="app__header">
    <h1 class="app__headerTitle"><a class="" href="/" id="logo">STUDENT OUTSOURCING LEARNING PLATFORM</a></h1>
  </div>
   <div>
     <a  class="app__headerTitle " href="/contact">Contact us</a>
     {{!-- <a   class="btn-style btn-primary login" href="/login">login</a> --}}

   </div>
</div>
