<div class="navbar">
  <div class="app__header">
    <h1 class="app__headerTitle"><a class="" href="/" id="logo">STUDENT OUTSOURCING LEARNING PLATFORM</a></h1>
  </div>
  <div class="app__nav">
       <div class="app__nav__container" >
          <a class="app_nav_link" href="/" >Home</a>
          <a class="app_nav_link" href="#about id">About</a>
          <a class="app_nav_link" href="#services id">services</a>
          <a class="app_nav_link" href="/register">Register</a>
          <a class="app_nav_link" href="/login">Login</a>
          <a class="app_nav_link" href="/contact">Contact</a>
       </div>
  </div>
</div>