<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">STUDENT OUTSOURCING LEARNING PLATFORM</a>
    
      <button class="btn btn-outline-success" type="submit" href="/register">Register</button>
    <button class="btn btn-outline-success" type="submit" href="/login">Login</button>
  </div>
</nav>





<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h3><a class="" href="/">STUDENT OUTSOURCING LEARNING PLATFORM</a></h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/register">Register</a>
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
      </div>
    </div>
  </div>
</nav>




<div class="navbar">
  <div class="app__header">
    <h1 class="app__headerTitle"><a class="" href="/" id="logo">STUDENT OUTSOURCING LEARNING PLATFORM</a></h1>
  </div>
  <div class="app__nav">
       <div class="app__nav__container" >
          <a class="app_nav_link" href="/" >Home</a>
          <a class="app_nav_link" href="#about id">About</a>
          <a class="app_nav_link" href="#services id">services</a>
          <a class="app_nav_link" href="/register">Register</a>
          <a class="app_nav_link" href="/login">Login</a>
          <a class="app_nav_link" href="/contact">Contact</a>
       </div>
  </div>
</div>