<div id="notes id">
  <p class="text-center sub-heading">(Download notes!!)</p>

</div>
<!DOCTYPE html>
<html>
  <head>
    <title>NOTES</title>
  </head>
  <body>
    <center>
      <p>
        <button>
          click to download DAA LAB File!
        </button>
      </p>
      <a href="DAA file.pdf" target="_taran">  download pdf now</a>

      <p>
        <button>
          click to download DBMS LAB File!
        </button>
      </p>
      <a href="DBMS LAB.pdf" target="_taran">  download pdf now</a>

      <p>
        <button>
          click to download AI LAB File!
        </button>
      </p>
      <a href="1805996 AI LAB.pdf" target="_taran">  download pdf now</a>

      <p>
        <button>
          click to DBMS Minor project query file File!
        </button>
      </p>
      <a href="Minor project Queries.pdf" target="_taran">  download pdf now</a>


    </center>
  </body>
</html>