

<div class="app__servicesMain" id="services id">
  <h1 class="text-center main-heading">OUTCOMES</h1>
  <div class="app__services">
    <div class="app__services__card">
      <img src="3d_men_in_circle_with_target_and_darts_stock_photo_Slide01.jpg" alt="">
      <h3>AIM ESTABLISHMENT</h3>
    </div>
    <div class="app__services__card">
      <img src="screen-shot-2013-04-15-at-8-14-37-am.png" alt="">
      <h3>INTERACTION</h3>
    </div>
    <div class="app__services__card">
      <img src="337763264-Talking.jpg" alt="">
      <h3>PERSONAL INSTRUCTIONS</h3>
    </div>
  </div>
</div>


           

              



         

      <div class="app__servicesMain">
       

      

      <div class="app__services join-us">
           <img src="gndec-recruitment.png" alt="GNDEC">
           <div>
    
           <h1 id="logo">JOIN US AND HELP SOMEONE</h1>
            <a class="btn-style btn-primary" href="https://docs.google.com/forms/d/1VomMtlqsnATD5nMW6Iz3xxi1YvCIb_4HwLRL-I-uI8o/edit" target="_blank">Click Here!</a>
           </div>
        
      
    
          
      </div>
        
</div>