<div class="container-fluid mt-5 about-style" id="services id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">SERVICES</h1>
          <p class="text-center sub-heading">(LEARNING)</p>

          <div class="row">
              <div class="col-md-4">
                  <div class="box">
                      <div class="services settings">
                          <div class="icon">
                            <img src="note-taking-1400x1050.png" alt="">
                          </div>
                            <h3>STUDY MATERIAL</h3>
                          
                      </div>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="box">
                      <div class="services settings">
                          <div class="icon">
                            <img src="powerpointlecture.jpg" alt="">
                          </div>
                            <h1>LECTURES</h1>
                          
                      </div>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="box">
                      <div class="services settings">
                          <div class="icon">
                             <img src="brand-blog-feature.jpg" alt="">
                          </div>
                            <h1>BLOGS</h1>
                          
                      </div>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="box">
                      <div class="services settings">
                          <div class="icon">
                            <img src="3d_men_in_circle_with_target_and_darts_stock_photo_Slide01.jpg" alt="">
                          </div>
                            <h3>AIM ESTABLISHMENT</h3>
                          
                      </div>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="box">
                      <div class="services settings">
                          <div class="icon">
                            <img src="screen-shot-2013-04-15-at-8-14-37-am.png" alt="">
                          </div>
                            <h1>INTERACTION</h1>
                          
                      </div>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="box">
                      <div class="services settings">
                          <div class="icon">
                            <img src="337763264-Talking.jpg"alt="">
                          </div>
                            <h3>PERSONAL INSTRUCTIONS</h3>
                          
                      </div>
                  </div>
              </div>
               


          </div>
        </div>
      </div>
</div>
