<div class="app__servicesMain" id="services id">
  <h1 class="text-center main-heading">SERVICES</h1>
  <div class="app__services">
    <div class="app__services__card">
      <img src="note-taking-1400x1050.png" alt="">
      <h3>STUDY MATERIAL</h3>
    </div>
    <div class="app__services__card">
      <img src="powerpointlecture.jpg" alt="">
      <h3>LECTURES</h3>
    </div>
    <div class="app__services__card">
      <img src="brand-blog-feature.jpg" alt="">
      <h3>BLOGS</h3>
    </div>
  </div>
</div>