<div class="container-fluid mt-5 about-style" id="user_service id">
      <div class="row">

        <div class="col-md-10 col-12 mx-auto">

          <h1 class="text-center main-heading">SERVICES</h1>
          <p class="text-center sub-heading">(What can we provide you!!)</p>
          <button class="btn-style btn-primary" id="notes id">NOTES</button>
          <button class="btn-style btn-primary" id="lectures id">LECTURES</button>
          <button class="btn-style btn-primary" id="blogs id">BLOGS</button>

          <div class="row">

             <div class="col-md-6 col-12 hero text">

           

              <figure>
                <img src="gndec-recruitment.png" alt="GNDEC">
              

              </figure>

            </div>
          {{! right side}}
            <div class="col-md-6 col-12 oder-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                 
                 
                 
                 
           

          </div>

        </div>

      </div>

   </div>